::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #00adb5;
}
body{
  margin: 0;
  background: #eeeeee;
  color: #393e46;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
table{
  margin: auto;
  border-spacing: 50px;
}
.card{
  border-radius: 10px;
}
.card:hover{
  background: #6d8c89;
  font-weight: bold;
}
.dotline{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 5px;
  border-style: dotted;
  width: 5%;
  color: #aad8d3;
}
.text{
  padding-left: 15%;
}
.heading{
  position: relative;
  top: 150px;
  font-size: 275%;
  margin-bottom: 0;
  font-weight: lighter;
}
.introtext{
  position: relative;
  top: 150px;
  margin: 0;
  font-size: 400%;
  z-index: 6;
}
.tagline{
  position: relative;
  top: 150px;
  margin: 0 0 0 10%;
  font-size: 200%;
  font-weight: lighter;
  font-family: monospace;
}
.page{
  margin-bottom: 30%;
}
.myimg{
  padding-right: 15%;
  position: absolute;
  top:75px;
  right: 0;
  width: 25%;
  transform: rotate(4deg);
  z-index: 4;
}
.abouthead{
  font-size: 300%;
  margin-top: 60px;
  color: #00adb5;
  display: inline-block;
  position: relative;
  left: 18%;
  z-index: 6;
}
.about{
  padding-right: 8%;
  padding-left: 5%;
  padding-top: 1%;
  text-align: justify;
  line-height: 2;
}
.skillshead{
  font-size: 300%;
  color: #00adb5;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
}
.anim1{
  display: block;
  float: left;
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 0;
}
.skillimg{
  width: 100px;
}
.name{
  color: #00adb5;
}
.card{
  width: 275px;
  height: 300px;
  background: #393e46;
  color: #aad8d3;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1%;
  padding-top: 1%;
}
.tbcont{
  color: #eeeeee;
  padding: 10%;
  text-align: centre;
}
.techstack{
  font-size: 75%;
  padding-left: 5%;
  padding-right: 5%;
}
.contactcontent{
  margin-top: 2%;
  margin-bottom: 3%;
  text-align: center;
}
.border{
  border-right: solid 1px #00adb5;
  padding-top: 10%;
  padding-right: 5%;
  padding-bottom: 10%;
}
.contactcell{
  width: 500px;
}
.contacttext{
  text-align: center;
  font-size: 200%;
  margin-bottom: 0;
}
.connect{
  width: 100px;
  margin-top: 0;
}
.emailbutton{
  margin-top: 5%;
}
.btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: inherit;
  color: #ffffff;
  font-size: 20px;
  background: #00adb5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #13c6cf;
  text-decoration: none;
}
.endbar{
  height: 20px;
  width: 100%;
  background-color:  #00adb5;
}
